.center {
    margin: auto;
    width: 21%;
    border: 2px solid #D3D3D3;
    padding: 10px;
    box-shadow: 10px 10px 5px lightgrey;
}

.header {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  padding-bottom: 10px;
}

.content {
  border: 2px solid #D3D3D3;
  padding: 10px;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
